*{
	margin: 0;
	/*padding: 0;*/
	box-sizing: border-box;
}
.inner{
	width: 1024px;
	margin: 0 auto;
	position: relative;

}
.header{
	width: 1024px;
	height: 100vh;
	background: #192314;
	position: relative;
	overflow: hidden;
}
.header-pic{
	width: 652px;
	height: 502px;
	background: url(images/green-beosound-shape-desktop.jpg);
	background-size: 100% auto;
	float: right;
}
.header-text{
	width: 512px;
	height: 208px;
	color: white;
	position: absolute;
	margin-top: 150px;
	margin-left: 100px;
}
.description{
	font-size: 12px;
	letter-spacing: 2px;
	line-height: 24px;
	margin-bottom: 18px;
	text-transform: uppercase;
	text-align: left;
}
.title{
	letter-spacing: 3.75px;
	font-size: 40px;
	line-height: 50px;
	/*font-family: "SimHei";*/
	margin-top:15px;
	margin-bottom: 24px;
	font-weight: normal;
	text-align: left;
}
.small-desc{
	font-size: 13px;
	font-weight: 300;
	letter-spacing: normal;
	line-height: 21px;
	margin-bottom: 19px;
	margin-top: 19px;
	text-transform: uppercase;
	text-align: left;
}
.button{
	display: block;
	width: 272px;
	font-size: 12px;
	background-color:rgba(255,255,255,0.1);
	color: #fff;
	line-height: 21px;
	padding: 12px 35px;
	letter-spacing: 1.3px;
	text-decoration: none;
	text-align: center;
}
.banner-box{
	height:405px;
	padding-bottom: 100px;
	background: url(images/img-bg-1350.jpg);
	background-size: 100% auto;
	background-position: 0 -158px;
}
.product-box{
	width: 823px;
	height: 353px;
	/*color: red;*/
	margin: 0 auto;
	padding: 0 59px;
	margin-top: -48px;
	position: relative;
	z-index: 100;
}
.product-item{	
	width: 234px;
	height:354px;
	float: left;
	position: relative;
}
.product-item img{
	width: 100%;
}
.product-item h4{
	font-size: 12px;
	color: #fff;
	top: 15px;
	left: 20px;
	position: absolute;
}	
.top-menu{
	width: 100%;
	height: 57px;
	padding: 0 22px;
	display: flex;
	justify-content: space-between;
	position: absolute;
	top: 0;
	left: 0;
	z-index:2000;
}
.left,.right{
	height: 100%;
	width: 128px;
	line-height: 57px;
	font-size: 12px;
	text-align: center;
	color: #fff;
}
.center{
	height: 100%;
	line-height: 57px;
	width: 190px;
	font-size: 16px;
	font-weight: 100;
	color: #fff;
	text-align: center;
}
.left{
	background: url(images/product.png);
	background-repeat: no-repeat;
	background-position: left center;
}
.right{
	background: url(images/menu.png);
	background-repeat: no-repeat;
	background-position: right center;
}
.top-text{
	padding: 90px;
	height: 318px;
}
.top-text h6{
	font-size: 12px;
	letter-spacing: 2px;
	line-height: 13px;
	font-weight: 400;
	text-align: center;
	margin: 12px 0 18px 0;
}
.top-text h2{
	font-size: 50px;
	letter-spacing: 4px;
	line-height: 60px;
	font-weight: normal;
	text-align: center;
	margin: 25px 0 40px 0;
}
.product-list{
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
}
.top-product{
	width: 341px;
	height: 280px;
	margin: 0 auto;
	position: relative;
}
.top-product:nth-child(1){
	background:url(images/beosound-shape-mobile.jpg);
	background-size: 100% auto;
}
.top-product:nth-child(2){
	background:url(images/beovision-eclipse-mobile.jpg);
	background-size: 100% auto;
}
.top-product:nth-child(3){
	background:url(images/beolab-50-mobile.jpg);
	background-size: 100% auto;
}
.top-product:nth-child(4){
	background:url(images/beoplay-h9i-mobile.jpg);
	background-size: 100% auto;
}
.top-product:nth-child(5){
	background:url(images/beoplay-p6-categories-mobile-2.jpg);
	background-size: 100% auto;
}
.top-product:nth-child(6){
	background:url(images/beosound-core-mobile.jpg);
	background-size: 100% auto;
}
.top-product h4{
	font-size: 12px;
    font-weight: 400;
    color: #fff;
    letter-spacing: 2px;
    line-height: 18px;
    position: absolute;
    top: 31px;
    left: 40px;
    margin-bottom: 4px;
}
.story-list{
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
}
.story{
	height: 222px;
	padding-top: 88px;
	margin: 0 auto;
	/*position: relative;*/
}
.story:nth-child(1){
	/*height: 100%;*/
	width: 256px;
	background:url(images/design-as-a-group-effort-01.jpg);
	background-size: 100% auto;
	background-repeat: no-repeat;
}
.story:nth-child(2){
	/*height: 100%;*/
	width: 256px;
	background:url(images/the-krane.jpg);
	background-size: 100% auto;
	background-repeat: no-repeat;
}
.story:nth-child(3){
	/*height: 100%;*/
	width: 512px;
	background:url(images/harmonies-story.jpg);
	background-size: 100% auto;
	background-repeat: no-repeat;
}
.font h5{
	font-size: 16px;
    font-weight: 300;
    line-height: 24px;
	color: #666666
}
.story-description{
	padding-top: 8px;
	color: #b9b9b9;
	font-size: 13px;
	font-weight: 300;
}
.font{
	padding-top: 22px;
	margin: 0 auto;
}
.font:nth-child(1){
	/*height: 100%;*/
	width: 256px;
	padding-left:0px;
	background-size: 100% auto;
	background-repeat: no-repeat;
}
.font:nth-child(2){
	/*height: 100%;*/
	width: 256px;
	padding-left:256px;
	/*background-size: 100% auto;*/
	background-repeat: no-repeat;
}
.font:nth-child(3){
	/*height: 100%;*/
	width: 512px;
	padding-left:512px;
	background-size: 100% auto;
	background-repeat: no-repeat;
}